{% extends 'ventanas/baseDocente.html' %} {% block content %}
<h2 style="text-align: center;color:rgba(0, 255, 13, 0.719)" class="animate__animated animate__fadeInDown">ASISTENCIA DE ALUMNOS </h2>
<!--leer archivo de estudiantes en excel-->
<div class="row row-cols-1 row-cols-md-2 g-4">
	{% for Materia,grupos in cursos.items %} {% for group in grupos %}
	<div class="col">
		<div class="card">
			<h2 style="text-align: center">{{Materia}}</h5>
			<h3 style="text-align: center"></h3style>{{group}}</h3>
			<div class="card-body">
				<form
					action="guardarAlumnos/{{group}}"
					method="POST"
					class="documento"
					enctype="multipart/form-data"
				>
					{% csrf_token %}
					<p style="color:rgb(255,0,0);">{{error}}</p>
					{% if BD|length == 0 %}
					<input type="file" id="archivo" name="archivo" />
					{% else %} {% if BD|length != 0 %} {% if group not in subidos %}
					<input type="file" id="archivo" name="archivo" />
					{% endif %} {% endif %}{% endif %}

					<button type="submit" class="btn btn-primary">Guardar</button>
					<a href="borrarAlumnos/{{group}}" class="btn btn-primary">Eliminar</a>
				</form>
			</div>
		</div>
		{% if BD|length > 0 %} {% for file in BD %} {% if file.cod_curso == group %}
		<blockquote style="margin-left: 40px;"></blockquote>
		<div>
			<table class="table" id="table">
				<thead>
					<tr>
						<th class="animate__animated animate__fadeInLeft" style="text-align:center;border:1px solid rgb(255, 255, 255);background-color: rgb(228, 53, 0);color:aliceblue">#</th>
						<th class="animate__animated animate__fadeInLeft" style="text-align:center;border:1px solid rgb(255, 255, 255);background-color: rgb(228, 53, 0);color:aliceblue">Codigo</th>
						<th class="animate__animated animate__fadeInLeft" style="text-align:center;border:1px solid rgb(255, 255, 255);background-color: rgb(228, 53, 0);color:aliceblue">Apellidos-Nombres</th>
					</tr>
				</thead>
				<tbody>
					{% for g,cod in Alumnos.items %} {% for key,nombre in cod.items %}
					<tr>
						<th style="border: 1px solid rgb(5, 60, 112);text-align:center;background-color: rgb(255, 255, 255)">{{forloop.counter}}</th>
						<td style="border: 1px solid rgb(5, 60, 112);text-align:center;background-color: rgb(255, 255, 255)">{{key}}</td>
						<td style="border: 1px solid rgb(5, 60, 112);text-align:center;background-color: rgb(255, 255, 255)">{{nombre}}</td>
					</tr>
					{% endfor %} {% endfor %}
				</tbody>
			</table>
		</div>
		<script>
			function myfuncion() {
				document.getElementById('table');
			}
		</script>
		<a href="{{file.Lista.url}}">Descargar</a>
		{% endif %} {% endfor %} {% endif %}
	</div>
	{% endfor %} {% endfor %}
</div>

{% endblock%}
