{% extends 'ventanas/baseDocente.html' %} {% block content %}
<section id="card" style="background-color: rgba(0, 0, 0, 0.0);">
	<div class="card-title" style="background-color: rgba(0, 0, 0, 0.0);">
	<script>
		function startTime() {
			today = new Date();
			h = today.getHours();
			m = today.getMinutes();
			s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			document.getElementById('reloj').innerHTML = h + ':' + m + ':' + s;
			t = setTimeout('startTime()', 500);
		}
		function checkTime(i) {
			if (i < 10) {
				i = '0' + i;
			}
			return i;
		}
		window.onload = function() {
			startTime();
		};
	</script>
	<h2>
		<div id="reloj" style="font-size:50px; color: rgb(255, 255, 255);"></div>
	</h2>
	
	<a class="btn-get-started">
		<script>
			function makeArray() {
				for (i = 0; i < makeArray.arguments.length; i++)
					this[i + 1] = makeArray.arguments[i];
			}
			var months = new makeArray(
				'Enero',
				'Febrero',
				'Marzo',
				'Abril',
				'Mayo',
				'Junio',
				'Julio',
				'Agosto',
				'Septiembre',
				'Octubre',
				'Noviembre',
				'Diciembre'
			);
			var date = new Date();
			var day = date.getDate();
			var month = date.getMonth() + 1;
			var yy = date.getYear();
			var year = yy < 1000 ? yy + 1900 : yy;
			document.write('<span style="color: white;">' + day + ' de ' + months[month] + ' del ' + year + '</span>');
		</script>
	</a>
	</div>	

	<blockquote style="margin-left: 20px;"></blockquote>

	<div class="card-deck animate__animated animate__fadeInLeftBig ">
		{% for cr,gs in cursos.items %}
			
			<div class="col">
				<h4 class="animate__animated animate__fadeInLeft" style="text-align:center;border:1px solid rgba(255, 255, 255, 0);background-color: rgb(233, 155, 10);color:rgb(4, 57, 104);font-weight:bold">{{cr}}</h5>
					<blockquote style="margin-left: 20px;"></blockquote>
				<div class="card">
					<div class="col">
				<form action="registroAsistencia/{{cr}}" method="POST">
					{% csrf_token %}
					<label for="">marcar asistencia</label>
					<input
						type="checkbox"
						name="mi_asistencia"
						class="asistencia"
						value="asistencia"
					/>
					{% for gkey,g in gs.items %} {{gkey}} {% endfor %}
					<!--<select name="grupos" id="group">
							{% for key,set in grupos.items %} {% for grup,it in set.items %}
							{% if key == i %}
							<option value="{{grup}}">{{grup}}</option>
							{% endif %} {% endfor %} {% endfor %}
						</select>-->

					<input
						type="submit"
						style="background-color: rgba(6, 55, 100, 0.959); color: white;"
						class="btn btn-second"
						value="Registrar"
						class="btn btn-second"
					/>
				</form>
			</div>
			</div>
			<blockquote style="margin-left: 20px;"></blockquote>
			<div class="card">
			<div class="col">
				
				{% for gru,t in gs.items %}
				<form action="registroTema/{{gru}}" method="POST">
					{% csrf_token %}
					<input name="NombreC" type="hidden" value="{{cr}}" />
					<label for="">Registrar Temas </label>

					<select name="avance_temas" id="">
						{% for j,k in lista_t.items %}{% for kk in k %}{% if gru == j %}
						<option value="{{kk}}">{{kk}}</option>
						{% endif %}{% endfor %}{% endfor %}
					</select>
						
					<button
						type="submit"
						style="background-color: rgba(6, 55, 100, 0.959); color: white;"
						class="btn btn-second"
					>
						Registrar
					</button>
				</form>
				{% endfor %}
			</div>
		
		<blockquote style="margin-left: 20px;"></blockquote>
		<div class="card">
		</div>
			<div class="col">
				{% for gkey,g in gs.items %}
				<form action="control_de_asistenciaAL/{{gkey}}" method="POST">
					<center>
						{% csrf_token %}
						<input
							type="submit"
							class="btn btn-info"
							value="Control de Lista"
						/>
					</center>
				</form>
				{% endfor %}
				<!--{% for key,set in grupos.items %} {% for grup,it in set.items %}
					<form action="control_de_asistenciaAL/{{grup}}" method="POST">
						{% csrf_token %}
						<input
							type="submit"
							class="btn btn-info"
							value="Control de Lista"
						/>
					</form>
					{% endfor %} {% endfor %}-->
			</div>
		</div>
	</div>
		
		{% endfor %}
	</div>
	
	<p>
		<h4 class="animate__animated animate__fadeInLeft" style="text-align:center;border:1px solid rgba(255, 255, 255, 0);color:rgb(255, 166, 0)">Por favor marque su asistencia y registre el tema dictado en el formulario correspondiente."</h4>
		
	</p>
</section>
{% endblock %}
