{% extends 'ventanas/baseDocente.html' %} {% block content %}
<blockquote style="margin-left: 20px;"></blockquote>
<div class="card-group">
	{% for title,grupo in dic.items %}
	
	<div class="card">
		<blockquote style="margin-left: 20px;"></blockquote>
		<img
			src="../../static/assets/img/slide/gifsinfo.gif"
			class="card-img-top"
			alt="imagen"
		/>
		<div class="card-body">
			<h5 class="card-title">{{title}}</h5>
			<div class="card-group">
				<div class="card-body">
					{% for grup,dias in grupo.items %}
					<h5>GRUPO</h5>
					<p class="card-text">{{grup}}</p>
					<div class="card-group">
						<div class="card-body">
							<h5>DIA</h5>
							{% for dia,salon in dias.items %}
							<p class="card-text">{{dia}}</p>
							{% endfor %}
						</div>
						<div class="card-body">
							<h5>AULA</h5>
							{% for key,itsalon in dias.items %}
							<p class="card-text">{{itsalon}}</p>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
