{% extends 'ventanas/baseDocente.html' %} {% block content %}
<h1>Bienvenido</h1>
<h1>{{nombre}}</h1>
<!-- botones para cada funcion de docente -->
<div class="botones">
	<input type="button" class="btn btn-second" value="SILABO" />
	<input type="button" class="btn btn-second" value="CURSOS" />
	<p>cambios</p>
</div>

<!-- se la pasa una variable -->
<div class="card">
	<div class="card-body">
		<form
			action="/docentes/"
			method="POST"
			class="documento"
			enctype="multipart/form-data"
		>
			{% csrf_token %}
			<h2>Subir silabo</h2>
			<p style="color:rgb(255,0,0);">{{error}}</p>
			{% csrf_token %}
			<input type="file" id="archivo" name="archivo" />
			<button class="btn btn-primary">Guardar</button>
		</form>
		<a href="{{file.url}}">ver silabo</a>
	</div>
</div>
<!--{% for i in tareas %}-->

<!--{% endfor %}-->
{% endblock %}
