{% extends 'ventanas/baseDocente.html' %} {% block content %}
<h1>Bienvenido</h1>
<h1>{{nombre}}</h1>
<!-- botones para cada funcion de docente -->
<div class="botones">
	<form action="/asistencia/" method="GET">
		{% csrf_token %}
		<input type="submit" class="btn btn-second" value="Asistencia" />
	</form>
	<form action="/asistencia_alumnos/" method="POST">
		{% csrf_token %}
		<input type="submit" class="btn btn-second" value="Asistencia de alumnos" />
	</form>
	<form action="/carga_academica/" method="POST" class="carga">
		{% csrf_token %}
		<input type="submit" class="btn btn-second" value="Carga Academica" />
	</form>
	<form action="/silabos/" method="GET">
		{% csrf_token %}
		<input type="submit" class="btn btn-second" value="Silabo" />
	</form>
</div>

<!-- se la pasa una variable -->

<!--{% for i in tareas %}-->

<!--{% endfor %}-->
{% endblock %}
