{% extends 'ventanas/baseDocente.html' %} {% block content %}

<blockquote style="margin-left: 30px;">							
</blockquote>
<body>
	<h2 class="animate__animated animate__fadeInDown">Asignaturas</h2>
	

<section class="card-deck">
	{% for i in cursos %}
	<div class="card">
		<h3><a href="#">{{i}}</a></h3>
		<form
			action="guardarSilabo/{{i}}"
			method="POST"
			class="documento"
			enctype="multipart/form-data"
		>
			{% csrf_token %}
			<p style="color:rgb(255,0,0);">{{error}}</p>
			{% if BD|length == 0 %}
			<input type="file" id="archivo" name="archivo" />
			{% else %} {% if BD|length != 0 %} {% if i not in subidos %}
			<input type="file" id="archivo" name="archivo" />
			{% endif %} {% endif %}{% endif %}

			<button type="submit" style="background-color: rgba(1, 65, 126, 0.986); color: white;"class="btn btn-primary">Guardar</button>
			<a href="eliminarSilabo/{{i}}" style="background-color: rgb(230, 49, 49); color: white;"class="btn btn-second">Eliminar</a>
		
		</form>
		{% if BD|length > 0 %} {% for file in BD %} {% if file.curso == i %}
		<a href="{{file.silabo.url}}" class="btn-get-started animate__animated animate__fadeInUp scrollto;"style="background-color:rgba(6, 55, 100, 0.479);">ver silabo</a>
		
		{% endif %} {% endfor %} {% endif %}
		<div>

			{% for u in unidades %}
			<form action="ParteSilabo/{{i}}" method="POST">
				{% csrf_token %}
				<label for="">Inicio</label>
				<input name="fechaInicio" type="Date" placeholder="Fecha de Inicio" />

				<label for="">Conclusion</label>
				<input
					name="fechaConclusion"
					type="Date"
					placeholder="Fecha de Conclusion"
				/>

				<div class="mb-3">
					<select name="unidad" id="unidad">
						<option value="{{u}}">UNIDAD{{u}}</option>
					</select>

					<label for="">UNIDAD {{u}}</label>
					<label for="Textarea1" class="form-label">Contenido</label>
					<textarea
						name="contenido"
						class="form-control"
						id="contenidos"
						rows="3"
					></textarea>

					<input name="tiempo" type="number" placeholder="Tiempo" />

					<label for="Textarea2" class="form-label">Actividades</label>
					<textarea
						name="actividades"
						class="form-control"
						id="actividades"
						rows="2"
					></textarea>
				</div>
				<!--<div class="mb-3">
					<label for="">UNIDAD II</label>
					<label for="Textarea1" class="form-label">Contenido</label>
					<textarea
						name="contenido2"
						class="form-control"
						id="contenidos"
						rows="3"
					></textarea>
					<input name="tiempo2" type="number" placeholder="Tiempo" />
					<label for="Textarea2" class="form-label">Actividades</label>
					<textarea
						name="actividad2"
						class="form-control"
						id="actividades"
						rows="2"
					></textarea>
				</div>
				<div class="mb-3">
					<label for="">UNIDAD III</label>
					<label for="Textarea1" class="form-label">Contenido</label>
					<textarea
						name="contenido3"
						class="form-control"
						id="contenidos"
						rows="3"
					></textarea>
					<input name="tiempo3" type="number" placeholder="Tiempo" />
					<label for="Textarea2" class="form-label">Actividades</label>
					<textarea
						name="actividad3"
						class="form-control"
						id="actividades"
						rows="2"
					></textarea>
				</div>-->
				
				<button type="submit" class="btn btn-warning">Registrar</button>
			</form>
			
			{% endfor %}
		</div>
	</div>
	

	{% endfor %}</section>{% endblock %}
</div>


