{% extends 'ventanas/baseDocente.html' %} {% block content %}
<div class="card">
	{% for i in materias_a_cargo %} {{i}}
	<div class="card-body">
		<form
			action="/silabos/"
			method="POST"
			class="documento"
			enctype="multipart/form-data"
		>
			{% csrf_token %}

			<p style="color:rgb(255,0,0);">{{error}}</p>
			{% csrf_token %}
			<input type="file" id="archivo" name="archivo" />
			<button class="btn btn-primary">Guardar</button>
		</form>
		<a href="{{file.url}}">ver silabo</a>
	</div>
	{% endfor %}
</div>
{% endblock %}
