body{
    background: #ffffff;
    color: rgb(0, 0, 0);
    font: 25x normal normal uppercase helvetica,arial,serif;
}
.navbar {                       /*caja de opciones*/
    background: #0ce24c;
    padding: 1px 0;
    margin: auto; 
    font: 14px normal normal uppercase helvetica,arial,serif;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}
.navbar ul li {                 /*quita enumerado de items*/
    list-style: none;
}
.navbar ul li a {               /*quita subrayado de text*/
    color: rgb(237, 244, 237);
    text-decoration: none;
}
.navbar ul li a:hover{          /*decora seleccion*/
    color: rgb(10, 205, 240);
}