body{
    background: #ffffff;
    color: rgb(0, 0, 0);
    font: 25x normal normal uppercase helvetica,arial,serif;
}
.navbar {                       /*caja de opciones*/
    background: #002f5a;
    padding: 1px 0;
    margin: auto; 
    font: 14px normal normal uppercase helvetica,arial,serif;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}
.navbar ul li {                 /*quita enumerado de items*/
    list-style: none;
}
.navbar ul li a {               /*quita subrayado de text*/
    color: rgb(237, 244, 237);
    text-decoration: none;
}
.navbar ul li a:hover{          /*decora seleccion*/
    color: rgb(241, 21, 39);
}

/*
.btn {
	border: 3px solid rgba(100, 100, 100, 0.1);
	margin-bottom: 10px;
	padding: 8px;
	width: 100px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	background-size: 300%;
	transition: 0.6s;
}

.btn1{
	background-image: linear-gradient(to left, #00B7DA,#161569,#00B7DA);
}
*/