{% extends 'ventanas/base.html' %}
{% load  static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 style="text-align:center">Sistema de Gestión de Sílabo</h1>
    
            <h1 style="text-align:center">Ingeniería Informática y de Sistemas 28/12/2022 HH: 17:47</h1> <!-- cabecera es una variable enviada  -->  
            <img src="{% static 'images/info.jpeg' %}" style="width:1200px" align="center" alt="">
    
        </section>
    </main>
{% endblock %}

    