{% extends 'ventanas/baseDE.html' %}
{% block content %}
{% csrf_token %}

<h1>Detalles de la asistencia</h1>    
<table class="table table-striped" id="hor-minimalist-b" width="80%">
    <thead>
        <tr>
            <td>Docente</td>
            <td>Código de curso</td>            
            <td>Curso</td> 
            <td>Hora de inicio</td>        
        </tr>
    </thead>

    <tbody>
        <tr>          
            <td>{{ docente }}</td>
            <td>{{ id_curso }}</td>                                
            <td>{{ curso }}</td>
            <td>{{ hora }}:00</td>
        </tr>
    </tbody>
</table>

{% if asistencia|length > 0 %} 
<table class="table table-striped" id="hor-minimalist-b" width="80%">
    
    <thead>
        <tr>
            <td>Código de curso</td> 
            <td>Fecha</td>            
            <td>Hora</td>        
        </tr>
    </thead>

    <tbody>
        {% for i in asistencia %}
        <tr>    
            <td>{{ i.codigo_curso }}</td>      
            <td>{{ i.FechaIn }}</td>                                
            <td>{{ i.HoraEntrada }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3>no hay asistencias registradas</h3>
{% endif %}

{% endblock %}

