{% extends 'ventanas/baseDE.html' %}

{% block content %}
    <h1 class="text-center">Docentes de Ingenieria Informática y de Sistemas: </h1>

    <div class="container text-center" >
        <a class="btn btn-primary" href="{% url 'update_docente' %}"> Actualizar docentes
        </a>
    </div> 

    <p class="text-center" style="color:rgb(0,255,0);">{{error}}</p>
    {% csrf_token %}

    <body> <!--onload="popup()">-->
        <div id="main_container">
          
          <div class="center_content">
            <div class="center_left">
              
                <table id="hor-minimalist-b" width="80%">
                    <thead>
                        <tr>
                            <td>Nro</td>
                            <td>Apellidos y Nombres</td>
                            <td>Informe</td>
                            <td>Reporte</td>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in docentes %}
                        <tr>
                            <td>{{ i.id_docente }}</td>
                            <td>{{i.apellido}}, {{ i.Nombre }}</td>
                            <td><a href=""><img src="images/arrowb.gif" width="15" style="border:none">Ver</a></td>
                            <td><a href=" "><img src="images/xls.png" width="18" style="border:none">PDF</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="container text-center" >
                    <p class="mt-5 mb-3 text-muted">&copy; 2022 cero absoluto</p>
                </div>        
        
            </div>                    
          </div>
        </div>
        
        
        
        </body>

{% endblock %}