{% extends 'ventanas/baseDE.html' %}

{% block content %}
    <h1 class="text-center">Docentes de Ingenieria Informática y de Sistemas: </h1>

    <div class="container text-center" >
        <a class="btn btn-primary" href="{% url 'update_docente' %}"> Actualizar docentes
        </a>
    </div> 

    <p style="color:rgb(0,255,0);">{{error}}</p>
    {% csrf_token %}

    <div class="container text-lef">
        {% for i in docentes %}
        <div class="row">
            <div class="col">
                {{ i.apellido }} <!-- se la pasa una variable --> 
            </div>
            <div class="col">
                {{ i.Nombre }}
            </div>
            <div class="col">
                <button>Hacer Reporte</button>
            </div>
            <div class="col">
                <button>Generar Informe</button>
            </div>
            
                        
        </div>                    
        {% endfor %}
        <div class="container text-center" >
            <p class="mt-5 mb-3 text-muted">&copy; 2022 cero absoluto</p>
        </div>
    </div>

{% endblock %}