{% extends 'ventanas/baseDE.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action=" " method="POST" class="card card-body text-center">
                <h1>Mis datos</h1>
                <p style="color:rgb(255,0,0);">{{error}}</p>
                {% csrf_token %}
    
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder= "{{ director_escuela.email }}">               
                </div>
                <div class="mb-3">
                    <label for="username">Nombres:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder= "{{ director_escuela.email }}">               
                </div>
                <div class="mb-3">
                    <label for="username">Apellidos:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder= "{{ director_escuela.email }}">               
                </div>
                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="contraseña">               
                </div>
                <div class="mb-3">
                    <label for="password">Correo:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="contraseña">               
                </div>
                
                <button class="btn btn-primary">Cambiar</button>
            </form>
            {% if uploaded_file_url %}
                    <p style="color:rgb(0,255,0);">Modificó sus datos</p> 
                    <h3>¿desea reemplazar sus datos?</h3>
                    <a class="btn btn-primary" href="{% url 'carga_DB' %}">Sí</a>
                    <a class="btn btn-primary" href="{% url 'direct' %}">No</a>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}