{% extends 'ventanas/baseDE.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="{% url 'programar-tarea' %}" method="POST" class="card card-body text-center">
                <h1>Asignar tareas</h1>
                <p style="color:rgb(255,0,0);">{{error}}</p>
                {% csrf_token %}
                <select name="tareas" id="tareas">
                    <option value="silabo">Entrega de Sílabo</option>
                    <option value="contenido">Contenido de sílabo</option>
                    <option class="text-center"  selected disabled >Elija tarea</option>
                </select> <br>
                <label for="username">Fecha de inicio:</label>
                <input type="date" id="start" name="fecha0"  value="2023-02-01"      min="2023-01-01" max="2030-12-31">
                <br>
                <label for="username">Fecha de entrega:</label> 
                <input type="date" id="start" name="fecha1"  value="2023-02-01"      min="2023-01-01" max="2030-12-31">
                <br>
                <button class="btn btn-primary">Asignar tarea</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}