{% extends 'ventanas/baseDE.html' %}
{% block content %}
{% csrf_token %}

<h1>Detalles del tema de avance</h1>    

<table class="table table-striped" id="hor-minimalist-b" width="80%">
    <thead>
        <tr>
            <td>Docente</td>
            <td>Código de curso</td>            
            <td>Curso</td>        
        </tr>
    </thead>

    <tbody>
        <tr>          
            <td>{{ docente }}</td>
            <td>{{ id_curso }}</td>                                
            <td>{{ curso }}</td>
        </tr>
    </tbody>
</table>

{% if temas|length > 0 %} 
<table class="table table-striped" id="hor-minimalist-b" width="80%">
    <thead>
        <tr>
            <td>Id Curso</td>
            <td>Tema</td>            
            <td>Fecha</td>        
        </tr>
    </thead>

    <tbody>
        {% for i in temas %}
        <tr>          
            <td>{{ i.codigo_curso }}</td>
            <td>{{ i.Tema }}</td>                                
            <td>{{ i.FechaAvance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3>no hay temas registrados</h3>
{% endif %}

{% endblock %}

