{% extends 'ventanas/baseDE.html' %}
{% block content %}
{% csrf_token %}

<h1>Sílabos</h1>    
<h1>Docente: {{ docente }}</h1>          
<table class="table table-striped" id="hor-minimalist-b" width="80%">
    <thead>
        <tr>
            <td>PR_DE</td>
            <td>Curso</td>
            <td>Docente</td>
            <td>Informe</td>
            <td>PDF</td>
            <td>Sílabo</td>
        </tr>
    </thead>

    <tbody>
        {% for i in cursos %}
        <tr>          
            <form action="{% url 'ver_archivo' %}" method="POST" >
                {% csrf_token %}
                <td>{{ i.PR_DE }}</td>
                <td>{{ i.CURSO }}</td>
                <td>{{ i.DOCENTE }}</td>
                
                <td><button class="btn btn-success" name="reporte">Informe</button></td>
                <input type="hidden" name="id_docente" value="{{ i.id_docente }}" />
            </form>
            <td><a href= "{{ '/files/files/IF614BIN2022-2.pdf' }}"  target="_blank">Ver PDF</a></td>
            <td><a href="{{ carga.uploadfile.url }}"  target="_blank">Descargar</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

